/* Colors */
:root {
  --header: #212121;
  --body-primary: #424242;
  --body-secondary: #565656;
  --paper: #fafafa;
  --horisontal-rule: rgba(0, 0, 0, .12);
}

/* Responsive footer */
html {
  min-height: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1 0;
}

/* Document layout */
main, footer > .wrapper {
  padding: 0 2.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 760px;
}

main > header {
  margin-top: 7.5rem;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section {
  margin: 3rem 0;
}

/* Typography */
body, .body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-primary);
  font-family: 'Roboto', sans-serif;
}

.body-2 {
  letter-spacing: 0.25px;
  font-size: 0.875rem;
  color: var(--body-secondary);
}

footer {
  font-size: 0.875rem;
  color: var(--body-primary);
  letter-spacing: normal;
  background: var(--paper);
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: normal;
  color: var(--header);
  margin: 0
}

h1+p {
  margin: 16px 0 48px;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.2px;
  color: var(--header);
  margin: 0
}

h3 {
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: normal;;
  color: var(--header);
  margin: 0;
  line-height: 1.2
}

h4 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 400;
  letter-spacing: 0.15px;
  color: var(--header);
  margin: 0
}

h5 {
  font-size: 1.125rem;
  line-height: 0.5rem;
  font-weight: 400;
  letter-spacing: normal;
    margin-bottom: 1px;
}

h6 {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: .0125em;
}

hr {
  border-color: var(--horisontal-rule);
  margin: 0;
  border-width: 1px 0 0;
}